USE [master]
GO
/****** Object:  Database [QuoteDB]    Script Date: 26/02/2018 16:46:37 ******/
CREATE DATABASE [QuoteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuoteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HOMESERVER\MSSQL\DATA\QuoteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuoteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.HOMESERVER\MSSQL\DATA\QuoteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuoteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuoteDB]
GO
USE [QuoteDB]
GO
/****** Object:  Table [dbo].[PersonalLoanQuotes]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalLoanQuotes](
	[QuoteReference] [uniqueidentifier] NOT NULL,
	[TermInMonths] [int] NOT NULL,
	[LoanAmount] [float] NOT NULL,
	[Deposit] [float] NOT NULL,
 CONSTRAINT [PK_HirePurchaseQuotes] PRIMARY KEY CLUSTERED 
(
	[QuoteReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalLoanResults]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalLoanResults](
	[QuoteReference] [uniqueidentifier] NOT NULL,
	[MonthlyRepayable] [float] NOT NULL,
	[TotalRepayable] [float] NOT NULL,
	[Fees] [float] NOT NULL,
	[InterestRate] [float] NOT NULL,
 CONSTRAINT [PK_HirePurchaseQuoteResults] PRIMARY KEY CLUSTERED 
(
	[QuoteReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [nvarchar](50) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_ProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteDefaults]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteDefaults](
	[TypeID] [int] NOT NULL,
	[ElementDescription] [nvarchar](max) NOT NULL,
	[XMLTemplate] [nvarchar](max) NOT NULL,
	[TotalRepayableTemplate] [nvarchar](max) NOT NULL,
	[MonthlyRepayableTemplate] [nvarchar](max) NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_QuoteDefaults] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotes]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotes](
	[QuoteReference] [uniqueidentifier] NOT NULL,
	[QuoteType] [int] NOT NULL,
	[QuoteStatus] [int] NOT NULL,
	[ProductType] [int] NOT NULL,
	[QuoteDate] [datetime] NOT NULL,
	[QuoteAuthor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quotes] PRIMARY KEY CLUSTERED 
(
	[QuoteReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteStatuses]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_QuoteStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteTypes]    Script Date: 26/02/2018 16:46:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[QuoteType] [nvarchar](50) NOT NULL,
	[ProductParentID] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_QuoteTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PersonalLoanQuotes] ([QuoteReference], [TermInMonths], [LoanAmount], [Deposit]) VALUES (N'b181ac11-e705-4623-8dc5-5bca312b7777', 12, 500, 50)
INSERT [dbo].[PersonalLoanQuotes] ([QuoteReference], [TermInMonths], [LoanAmount], [Deposit]) VALUES (N'08e4df13-4e8a-4083-95b6-9e7c1ce262de', 72, 10000, 1000)
INSERT [dbo].[PersonalLoanQuotes] ([QuoteReference], [TermInMonths], [LoanAmount], [Deposit]) VALUES (N'2e814919-4741-4e7c-aed6-ba447c762bd5', 36, 2500, 500)
INSERT [dbo].[PersonalLoanResults] ([QuoteReference], [MonthlyRepayable], [TotalRepayable], [Fees], [InterestRate]) VALUES (N'b181ac11-e705-4623-8dc5-5bca312b7777', 39.375, 472.5, 50, 5)
INSERT [dbo].[PersonalLoanResults] ([QuoteReference], [MonthlyRepayable], [TotalRepayable], [Fees], [InterestRate]) VALUES (N'08e4df13-4e8a-4083-95b6-9e7c1ce262de', 131.25, 9450, 50, 5)
INSERT [dbo].[PersonalLoanResults] ([QuoteReference], [MonthlyRepayable], [TotalRepayable], [Fees], [InterestRate]) VALUES (N'2e814919-4741-4e7c-aed6-ba447c762bd5', 58.333333333333336, 2100, 50, 5)
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductType], [Enabled]) VALUES (4, N'UnsecuredFinance', 1)
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
INSERT [dbo].[Quotes] ([QuoteReference], [QuoteType], [QuoteStatus], [ProductType], [QuoteDate], [QuoteAuthor]) VALUES (N'b181ac11-e705-4623-8dc5-5bca312b7777', 1, 1, 4, CAST(N'2018-02-22T18:31:40.270' AS DateTime), N'TestAuthor')
INSERT [dbo].[Quotes] ([QuoteReference], [QuoteType], [QuoteStatus], [ProductType], [QuoteDate], [QuoteAuthor]) VALUES (N'08e4df13-4e8a-4083-95b6-9e7c1ce262de', 1, 1, 4, CAST(N'2018-02-22T18:32:01.077' AS DateTime), N'TestAuthor')
INSERT [dbo].[Quotes] ([QuoteReference], [QuoteType], [QuoteStatus], [ProductType], [QuoteDate], [QuoteAuthor]) VALUES (N'2e814919-4741-4e7c-aed6-ba447c762bd5', 1, 1, 4, CAST(N'2018-02-22T18:31:12.743' AS DateTime), N'TestAuthor')
SET IDENTITY_INSERT [dbo].[QuoteStatuses] ON 

INSERT [dbo].[QuoteStatuses] ([StatusID], [State], [Enabled]) VALUES (1, N'QQActive', 1)
INSERT [dbo].[QuoteStatuses] ([StatusID], [State], [Enabled]) VALUES (2, N'QQDeclined', 1)
INSERT [dbo].[QuoteStatuses] ([StatusID], [State], [Enabled]) VALUES (3, N'QQExpired', 1)
SET IDENTITY_INSERT [dbo].[QuoteStatuses] OFF
SET IDENTITY_INSERT [dbo].[QuoteTypes] ON 

INSERT [dbo].[QuoteTypes] ([TypeID], [QuoteType], [ProductParentID], [Enabled]) VALUES (1, N'PersonalLoan', 4, 1)
SET IDENTITY_INSERT [dbo].[QuoteTypes] OFF
ALTER TABLE [dbo].[PersonalLoanQuotes]  WITH CHECK ADD  CONSTRAINT [FK_HirePurchaseQuotes_HirePurchaseQuotes] FOREIGN KEY([QuoteReference])
REFERENCES [dbo].[Quotes] ([QuoteReference])
GO
ALTER TABLE [dbo].[PersonalLoanQuotes] CHECK CONSTRAINT [FK_HirePurchaseQuotes_HirePurchaseQuotes]
GO
ALTER TABLE [dbo].[PersonalLoanResults]  WITH CHECK ADD  CONSTRAINT [FK_HirePurchaseQuoteResults_Quotes] FOREIGN KEY([QuoteReference])
REFERENCES [dbo].[Quotes] ([QuoteReference])
GO
ALTER TABLE [dbo].[PersonalLoanResults] CHECK CONSTRAINT [FK_HirePurchaseQuoteResults_Quotes]
GO
ALTER TABLE [dbo].[QuoteDefaults]  WITH CHECK ADD  CONSTRAINT [FK_QuoteDefaults_QuoteTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[QuoteTypes] ([TypeID])
GO
ALTER TABLE [dbo].[QuoteDefaults] CHECK CONSTRAINT [FK_QuoteDefaults_QuoteTypes]
GO
ALTER TABLE [dbo].[Quotes]  WITH CHECK ADD  CONSTRAINT [FK_Quotes_ProductTypes] FOREIGN KEY([ProductType])
REFERENCES [dbo].[ProductTypes] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Quotes] CHECK CONSTRAINT [FK_Quotes_ProductTypes]
GO
ALTER TABLE [dbo].[Quotes]  WITH CHECK ADD  CONSTRAINT [FK_Quotes_QuoteStatuses] FOREIGN KEY([QuoteStatus])
REFERENCES [dbo].[QuoteStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Quotes] CHECK CONSTRAINT [FK_Quotes_QuoteStatuses]
GO
ALTER TABLE [dbo].[Quotes]  WITH CHECK ADD  CONSTRAINT [FK_Quotes_QuoteTypes] FOREIGN KEY([QuoteType])
REFERENCES [dbo].[QuoteTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Quotes] CHECK CONSTRAINT [FK_Quotes_QuoteTypes]
GO
ALTER TABLE [dbo].[QuoteTypes]  WITH CHECK ADD  CONSTRAINT [FK_QuoteTypes_ProductTypes] FOREIGN KEY([ProductParentID])
REFERENCES [dbo].[ProductTypes] ([ProductTypeID])
GO
ALTER TABLE [dbo].[QuoteTypes] CHECK CONSTRAINT [FK_QuoteTypes_ProductTypes]
GO
USE [master]
GO
