<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">highlight_off</i>
                </button>
            </div>
            <div class="modal-body" style="padding-bottom: 0px;">
                <h6>{{infoMessage}}</h6>
                <form name="newuserform" ng-submit="createNewUser()">
                    <div class="row">
                        <div class="md-form col-9" style="padding-left: 0px;">
                            <div class="md-form col-9">
                                <input type="text" id="UserName" name="UserName" class="form-control" ng-model="newUserModel.UserName"
                                       ng-class="{ 'has-error': newuserform.UserName.$dirty && newuserform.UserName.$error.required }" required>
                                <label for="UserName">Username</label>
                                <span ng-show="newuserform.UserName.$dirty && newuserform.UserName.$error.required"
                                      class="help-block alert-danger">A Username is Required</span>
                            </div>
                            <div class="md-form col-9">
                                <input type="email" id="Email" name="Email" class="form-control" ng-model="newUserModel.Email"
                                       ng-class="{ 'has-error': newuserform.Email.$dirty && newuserform.Email.$error.required }" required>
                                <label for="Email">Email Address</label>
                            </div>
                            <!--Text-->
                            <div class="md-form col-9 checkbox-heading">
                                <div class="checkbox" ng-if="(isSuperAdmin)">
                                    <label>
                                        <input type="checkbox" ng-model="newUserModel.IsAdministrator"> Is Administrator
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="md-form col-3">
                            <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" ng-model="newUserModel.PhoneNumber"
                                   ng-class="{ 'has-error': newuserform.PhoneNumber.$dirty && newuserform.Email.$error.required }" required>
                            <label for="PhoneNumber">Phone Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-12">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Change Password
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="md-form col-12">
                                                <div class="md-form">
                                                    <input type="password" id="Password" name="Password" class="form-control" ng-model="newUserModel.Password"
                                                           ng-class="{ 'has-error': newuserform.Password.$dirty && newuserform.Password.$error.required }" required>
                                                    <label for="Password">Password</label>
                                                </div>
                                                <div class="md-form">
                                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" ng-model="newUserModel.ConfirmPassword"
                                                           ng-class="{ 'has-error': ((newuserform.ConfirmPassword.$dirty && newuserform.ConfirmPassword.$error.required) || (newUserModel.Password !== newUserModel.ConfirmPassword))}" required>
                                                    <label for="ConfirmPassword">Confirm Password</label>
                                                    <br/>
                                                    <span ng-show="(newUserModel.Password !== newUserModel.ConfirmPassword)"
                                                          class="help-block alert-danger">The confirm password must match the password</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="col-9"></div>
                        <br/>
                        <div class="col-9"></div>
                        <button type="submit" class="btn btn-raised btn-primary col-md-3" ng-click="close()">{{title}}</button>
                    </div>
                </form>
            </div>
            <script>
                $(document).ready(function () {
                    $('.collapse').collapse();
                });
            </script>
        </div>
    </div>
</div>