<div class="jumbotron jumbotron-floating">
    <h1 class="display-3 higher-heading">Quote Type Selection</h1>
    <p class="lead">Select the quote type that you wish to generate a quote for.</p>
    <br />
    <div class="col-12 no-gutters no-x-padding">
        <div class="col-12" ng-repeat="(key, value) in quoteTypes track by $index" style="margin-bottom:30px;">
            <h5 class="display-5 higher-heading">{{splitOnUpper(key)}} Selection</h5>
            <div class="row">
                <div class="col-12 col-sm-4" ng-repeat="item in value track by $index">
                    <div class="col-12 col-sm-4">
                        <a class="btn btn-lg btn-success" href="#!/{{key}}/{{item}}" role="button">{{splitOnUpper(item)}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>