<h2 class="display-3">{{splitOnUpper(quoteID)}}</h2>
<div class="card">
    <!--Card image-->
    <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">-->
    <!--Card content-->
    <div class="card-body">
        <form name="hirepurchaseform" ng-submit="submitForm()" style="margin-bottom:0px;">
            <!--Title-->
            <h4 class="card-title">Purchase Details</h4>
            <!--Text-->
            <div class="row">
                <div class="md-form col-sm-6 col-12">
                    <div class="md-form col-sm-6 col-12" ng-repeat="element in elements track by $index">
                        <dbinput element-html-name="element.ElementName" label="element.LabelName"
                                 form="hirepurchaseform" binding="element.Value" warning-label="element.WarningLabel" description="element.ElementDescription"></dbinput>
                    </div>
                </div>
                <div class="md-form col-sm-6 col-12 card-body">
                    <h4 class="card-title">Payment Schedules</h4>
                    <div>
                        Insert Schedules Here
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <button type="submit" class="btn btn-raised btn-primary col-md-3 box-one" ng-hide="!(hirepurchaseform.$valid && hasChangedQuoteDetails)"
                        ng-disabled="hirepurchaseform.$invalid">
                    Save
                </button>
                <div class="col-9"></div>
                <button type="button" class="btn btn-raised btn-secondary col-md-3 box-one" ng-hide="(hasChangedQuoteDetails)"
                        ng-disabled="hirepurchaseform.$invalid" ng-click="generateQuote()">
                    Generate
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row no-x-margin">
    <div class="card col-12 col-sm mt-2 mt-sm-4 mr-sm-2">
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Quotation Results</h4>
            <!--Text-->
            <div class="row">
                <div class="md-form col-sm-6 col-12">
                    <label for="form1">Monthly Amount:</label>
                    <label class="label label-left col-sm-5 col-12 no-x-padding">&pound;     {{quotationResult.MonthlyRepayable}}</label>
                </div>
                <div class="md-form col-sm-6 col-12">
                    <label for="form1">Total Repayable:</label>
                    <label class="label label-left col-sm-5 col-12 no-x-padding">&pound;     {{quotationResult.TotalRepayable}}</label>
                </div>
            </div>
            <div class="row">
                <div class="md-form col-sm-6 col-12">
                    <label for="form1">Fees:</label>
                    <label class="label label-left col-sm-5 col-12 no-x-padding">&pound;     {{quotationResult.Fees}}</label>
                </div>
                <div class="md-form col-sm-6 col-12">
                    <label for="form1">Interest Rate:</label>
                    <label class="label label-left col-sm-5 col-12 no-x-padding">{{quotationResult.InterestRate}} %</label>
                </div>
            </div>
        </div>

    </div>
    <div class="card col-12 col-sm mt-2 mt-sm-4 ml-sm-2">
        <!--Card image-->
        <!--<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">-->
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Quotation Options</h4>
            <!--Text-->
            <form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Include Fees
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>