<div class="form-group" ng-class="{'has-error': form[elementHtmlName].$dirty && form[elementHtmlName].$error.required }">
    <label for="{{::elementHtmlName}}">{{::label}}</label>
    <div ng-if="description.IsCurrency">
        <input ng-input-currency="description.IsCurrency" type="text" name="{{::elementHtmlName}}" id="{{::elementHtmlName}}" class="form-control"
               ng-model="$parent.binding" required="{{description.Required}}" ng-min="{{::description.Min}}" ng-max="{{::description.Max}}"
               ng-currency-min="$parent.binding" ng-currency-max="$parent.binding"/>
    </div>
    <div ng-if="!description.IsCurrency">
        <input type="{{::description.Type}}" name="{{::elementHtmlName}}" id="{{::elementHtmlName}}" class="form-control" ng-model="$parent.binding"
               required="{{description.Required}}" min="{{::description.Min}}" max="{{::description.Max}}" />
    </div>
    <div ng-if="description.Type == dropdown">
        <md-input-container>
            <label>State</label>
            <md-select ng-model="$parent.binding" required md-no-asterisk="{{description.Required}}">
                <md-option ng-value="opt" ng-repeat="opt in description.Options">{{ opt }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-if="description.Required">
        <span ng-show="(form[elementHtmlName].$dirty && form[elementHtmlName].$error.required)" class="help-block">{{::warningLabel}} is required</span>
    </div>
    <div ng-if="(description.Min || description.Min === 0)">
        <span ng-show="(form[elementHtmlName].$dirty && form[elementHtmlName].$error.min)" class="help-block">{{::warningLabel}} is below minimum</span>
    </div>
    <div ng-if="(description.Max || description.Max === 0)">
        <span ng-show="(form[elementHtmlName].$dirty && form[elementHtmlName].$error.max)" class="help-block">{{::warningLabel}} is above maximum</span>
    </div>
</div>