/* app css stylesheet */

.bmd-layout-canvas {
    height: 100% !important;
    height: -moz-available !important; /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available !important; /* Mozilla-based browsers will ignore this. */
    height: fill-available !important;
}

.no-x-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-x-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-ytop-padding {
    padding-top: 0px !important;
}

.User-padding {
    padding-left: 10px !important;
}

.hidden-flow {
    overflow: hidden !important;
}

.jumbotron-floating {
    margin-top: 32px;
}

.higher-heading {
    margin-top: -32px;
}

.checkbox-heading {
    margin-top: 30px;
}

.spread-boxes {
    margin-top: 10px;
}

.vertical-center {
    min-height: 96%; /* Fallback for browsers do NOT support vh unit */
    min-height: 96vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.label-left {
    padding-left: 15px;
}
/*
    Animation Transitions
*/

.ng-hide-add {
    -webkit-animation: 0.5s hide;
    animation: 0.5s hide;
}

.ng-hide-remove {
    -webkit-animation: 0.3s show;
    animation: 0.3s show;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    35% {
        transform: scale(0.75);
    }

    70% {
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    35% {
        transform: scale(0.75);
    }

    70% {
        transform: scale(1.02);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    30% {
        transform: scale(1.02);
    }

    60% {
        transform: scale(0.752);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    30% {
        transform: scale(1.02);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

md-autocomplete > md-autocomplete-wrap {
    background: transparent !important;
    box-shadow: none !important;
}

md-autocomplete {
    background: transparent !important;
}

md-autocomplete-wrap > input {
    padding-left: 0px !important;
}

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocomplete-custom-template li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 60px !important;
}

.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 1;
}

.autocomplete-custom-template .item-title md-icon {
    height: 50px !important;
    width: 50px !important;
}

.md-virtual-repeat-container.autocomplete-custom-template {
    width: 700px !important;
}

md-autocomplete-wrap > .bmd-form-group.is-filled {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}