/* app css stylesheet */

.no-x-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-x-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-ytop-padding {
    padding-top: 0px !important;
}

.user-padding {
    padding-left: 10px !important;
}

.hidden-flow {
    overflow: hidden !important;
}

.jumbotron-floating {
    margin-top: 32px;
}

.higher-heading {
    margin-top: -32px;
}