<div class="jumbotron jumbotron-floating">
    <h1 class="display-3 higher-heading">Quotation Queue</h1>
    <br />
    <div class="md-padding" style="background-color:rgb(250,250,250); color: black;">
        <div class="container col-12">
            <md-table-container>
                <table md-table md-row-select ng-model="selected" ng-model-options="{ debounce: 1500 }" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="pageChangeHandler">
                        <tr md-row>
                            <th md-column md-order-by="QuoteReference"><span>Quote Reference</span></th>
                            <th md-column md-order-by="QuoteType"><span>Quote Type</span></th>
                            <th md-column md-order-by="QuoteStatus">Quote Status</th>
                            <th md-column md-order-by="QuoteDate">Quote Date</th>
                            <th md-column md-order-by="QuoteAuthor">Quote Author</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-auto-select md-select="quote" md-select-id="QuoteReference" md-on-select="moveToQuote" 
                        ng-repeat="quote in quotes | orderBy: query.order">
                            <td md-cell>{{quote.QuoteReference}}</td>
                            <td md-cell>{{splitOnUpper(quote.QuoteType)}}</td>
                            <td md-cell>{{quote.QuoteStatus}}</td>
                            <td md-cell>{{quote.QuoteDate | date}}</td>
                            <td md-cell>{{splitOnUpper(quote.QuoteAuthor)}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="pagingModel.PageSize" md-limit-options="[5, 10, 15]" md-page="pagingModel.PageNumber" md-total="{{TotalItems}}" md-on-paginate="pageChangeHandler" md-page-select></md-table-pagination>
        </div>
    </div>
</div>