<div class="jumbotron jumbotron-floating">
    <h1 class="display-3 higher-heading">Application Configuration</h1>
    <p class="lead">You may alter and change any of the configuration options below.</p>
    <br />
    <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="{{tab.Label}}" md-on-select="onTabSelected($index, tab.OnSelect)" ng-repeat="tab in tabs track by $index" ng-disabled="tab.Disabled">
            <md-content class="md-padding">
                <div class="container col-12">
                    <md-toolbar class="md-table-toolbar md-default" style="background-color: transparent !important" ng-hide="filter.show" aria-hidden="false">
                        <div class="md-toolbar-tools">
                            <h2 class="md-title">{{tab.Label}}</h2>
                            <div flex="" class="flex"></div>
                            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="activateFilter()" aria-label="filter_list">
                                <md-icon class="material-icons">filter_list</md-icon>
                            </button>
                            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)" aria-label="add" ng-disabled="tab.Disabled">
                                <md-icon class="material-icons">add</md-icon>
                            </button>
                            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="saveUpdatedValues(tab.OnSelect)" ng-disabled="tab.Disabled"
                                    ng-hide="!(hasNewItemOrUpdate)" aria-label="save">
                                <md-icon class="material-icons md-light">save</md-icon>
                            </button>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="md-table-toolbar md-default ng-hide" style="background-color: transparent !important" ng-show="filter.show"
                                aria-hidden="true">
                        <div class="md-toolbar-tools">
                            <md-icon class="material-icons">search</md-icon>
                            <form flex="" name="filter.form" class="ng-valid flex ng-pristine">
                                <div class="md-form col-9 spread-boxes">
                                    <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search"
                                           class="form-control" aria-invalid="false" ng-change="filterItems(tab.QueryOrder)">
                                </div>
                            </form>
                            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
                                <md-icon class="material-icons">close</md-icon>
                                <div class="md-ripple-container"></div>
                            </button>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table md-progress="promise" class="table-hover">
                            <thead md-head md-order="tab.QueryOrder" md-on-reorder="pageChangeHandler" class="thead-light">
                                <tr md-row>
                                    <th md-column md-order-by="{{(column.SortBy !== undefined)? column.SortBy : column.Name}}" ng-repeat="column in tab.Columns"><span>{{column.Name}}</span></th>
                                </tr>
                            </thead>
                            <tbody md-body ng-repeat="config in configData | orderBy: tab.QueryOrder" ng-init="sectionIndex = $index">
                                <tr md-row>
                                    <td md-cell ng-repeat="column in $parent.tab.Columns">
                                        <dbconfig element-html-name="column.Name" config-data="config" input-type="column.Type"
                                                  has-changed="onChange" index="sectionIndex"></dbconfig>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="pagingModel.PageSize" md-limit-options="[5, 10, 15]" md-page="pagingModel.PageNumber" md-total="{{TotalItems}}" ng-disabled="filter.show" md-on-paginate="pageChangeHandler" md-page-select></md-table-pagination>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>